.surf {
    position: relative;
    height: 2600px;
    background-color: var(--black-color);
}

.surf-map {
    position: relative;
    max-height: 900px;
    top: 5%;
    left: 10%;
}

.surf-map__img {
    max-width: 1660px;
    max-height: 900px;
}

.surf-map__marker-dot-img-1 {
    position: relative;
    bottom: 463px;
    left: -42px;
}

.surf-map__marker-dot-img-2 {
    position: relative;
    bottom: 615px;
    left: 161px;
}

.surf-map__marker-dot-img-3 {
    position: relative;
    bottom: 647px;
    left: 420px;
}

.surf-map__marker-dot-img-4 {
    position: relative;
    bottom: 510px;
    left: 525px;
}

.surf-map__marker-dot-img-5 {
    position: relative;
    bottom: 990px;
    left: 715px;
}

.surf-map__marker-dot-img-6 {
    position: relative;
    bottom: 620px;
    left: 850px;
}

.surf-map__marker-dot-img-7 {
    position: relative;
    bottom: 940px;
    left: 1080px;
}

.surf-map__marker-dot-img-small {
    position: relative;
    bottom: 1160px;
    left: 230px;
}

.surf-map-marker {
    position: absolute;
    top: 10%;
    right: 0;
}

.surf-map-marker__img {
    max-width: 149px;
    max-height: 350px;
}

.surf-title__rectangle {
    position: relative;
    left: 105px;
    width: 80px;
    height: 1px;
    background-color: var(--mint-color);
}

.surf-title {
    position: relative;
    top: 150px;
    left: 370px;
}

.surf-title__bg-text {
    position: relative;
    top: -45px;
    left: -390px;
    font-size: 220px;
    font-weight: 800;
    line-height: 156px;
    opacity: 0.02;
}

.surf-subtitle {
    position: absolute;
    right: 5%;
    top: 14%;
    max-width: 410px;
}

.subtitle__text-separator {
    font-size: 40px;
    font-weight: 250;
    line-height: 86px;
    margin: 0 8px
}

.surf-place-card {
    position: relative;
    top: -17%;
    left: 80%;
    max-width: 305px;
    max-height: 430px;
}

.surf-place-card__details {
    position: absolute;
    width: 283px;
    height: 260px;
}

.surf-place-card__rectangle {
    width: 283px;
    height: 216px;
    border-radius: 8px;
    background-color: rgba(var(--dark-black-color-rgb), 0.7);
}

.surf-place-card__inner-rectangle {
    padding: 30px;
    height: 100%;
    opacity: 1;
}

.surf-place-card__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
}

.surf-place-card__line {
    width: 80px;
    height: 1px;
    margin: 10px 0;
    background-color: var(--mint-color);
}

.surf-place-card__country {
    font-size: 16px;
    line-height: 19px;
}

.surf-place-card__arrow {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.arrow-small {
    width: 16px;
    height: 14px;
    margin-left: auto;
}

.surf-place-card__weather-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.surf-place-card__weather-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surf-place-card__img {
    width: 39px;
    height: 23px;
}

.surf-place-card__index {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}

.surf-place-card__index-name {
    font-size: 10px;
    line-height: 12px;
}

.surf-place-card__coordinates {
    margin-right: -5px;
    position: absolute;
    top: -130px;
    right: 0;
    width: 22px;
    height: 425px;
    transform: rotate(180deg);
}

.surf-place-card__lat-long {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    writing-mode: vertical-rl;
}

.surf-place-card__drop {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.surf-place-card__drop::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 22px;
    background-image: url('/images/surf/drop.svg');
    filter: blur(12px);
}

.surf-cards {
    display: flex;
    position: absolute;
    bottom: 6%;
    left: 0;
    height: 1046px;
    width: 100%;
}

.surf-cards__card {
    position: relative;
    margin-left: -45px;
    width: calc(25% + 45px);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.surf-cards__card:not(:hover) .surf-cards__img {
    filter: grayscale(70%);
}

.surf-cards__card:first-child {
    margin-left: auto;
}

.surf-cards__card:hover {
    transform: translateY(-10px);
    z-index: 1;
}

.surf-cards__img {
    width: 100%;
    max-height: 1046px;
}

.surf-cards__card:nth-child(1),
.surf-cards__card:nth-child(3) {
    top: 3%;
}

.surf-cards__card:nth-child(2),
.surf-cards__card:nth-child(4) {
    top: -3%;
}

.surf-cards__play-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 179px;
    height: 80px;
    background-color: var(--mint-color);
}

.surf-cards__btn-text {
    font-size: 40px;
    font-weight: 800;
    line-height: 36px;
    margin-left: 20px;
}

.surf-cards__btn-horizontal-line {
    position: absolute;
    left: -10px;
    bottom: 50%;
    transform: translateY(50%);
    width: 20px;
    height: 1px;
    background-color: var(--white-color);
}

.surf-cards__arrow {
    position: relative;
    margin: auto;
}

.surf-cards__card:hover .surf-cards__play-btn {
    display: flex;
}

.surf-cards__two-line-text {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    white-space: nowrap;
}

.surf-cards__city {
    z-index: 1;
    position: absolute;
    bottom: 185px;
    left: 40px;
    width: 22px;
    height: 400px;
    transform: rotate(180deg);
}

.surf-card__city-name {
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 8px;
    writing-mode: vertical-rl;
}
