@import "base/variables.css";
@import "pages/home.css";
@import "pages/surf.css";
@import "pages/travel.css";
@import "pages/show.css";

body {
    font-family: "Fira Sans", sans-serif;
    color: var(--white-color);
}

.scrollable-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
