@import "base/variables.css";
@import "pages/home.css";
@import "pages/surf.css";
@import "pages/travel.css";
@import "pages/show.css";
@import "responsives/home_responsive.css";
@import "responsives/surf_responsive.css";

body {
    font-family: "Fira Sans", sans-serif;
    color: var(--white-color);
    text-transform: uppercase;
}

.scrollable-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.plain-text {
    text-transform: none;
}
